.main {
  margin: 0 auto;
  overflow: hidden;
  width: 85dvw;
  max-width: 400px;
  height: 650px;
  background-color: #800080;
  border-width: 10px;
  border-style: solid;
  border-color: #800080;
  border-radius: 25px;
}

.page div {
  background-color: #FFFFFF;
}

.page {
  height: 600px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #800080 #202020;
  background-color: #FFFFFF;
  color: #000000;
}

.bar {
  height: 50px;
  background-color: #FFFFFF;
  margin: 10px auto;
}

.bar li {
  list-style-type: none;
  float: left;
  width: 25%;
  text-align: center;
  margin: 0 auto;
}

.switch_profile {
  background-color: #760076;
  margin: 0px 0px 0px 15px;
}

.page::-webkit-scrollbar {
  -webkit-appearance: none;
}

.page::-webkit-scrollbar:vertical {
  width: 12px;
}

.page::-webkit-scrollbar:horizontal {
  height: 12px;
}

.page::-webkit-scrollbar-thumb {
  background-color: #800080;
}

.page::-webkit-scrollbar-track {
  background-color: #202020;
}

.post {
  padding: 5px;
  margin: 10px 5px;
  background-color: #FFFFFF;
}

.profile_picture {
  border-radius: 50%;
}

.page h2,
.page h3,
.page h4,
.page p {
  color: #000000;
}

.page h2 {
  text-align: center;
}

.bio {
  border-color: #7c0a7f;
  border-style: solid;
  padding: 0px 5px 0px 10px;
}

.page h4 {
  padding: 0px 0px 0px 10px;
}

.page h1.header {
  background-color: #800080;
  padding: 0px 10px 15px 10px;
  margin: 0px auto auto;
  color: #FFFFFF;
}

.page a {
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

a.tag {
  color: #0000FF;
  background-color: inherit;
  border-bottom-color: #FFFFFF;
}

a.edit_button {
  background-color: #7c0a7f;
  border-radius: 10px;
  color: #FFFFFF;
  margin: 10px;
  padding: 0px 10px 0px 10px;
}

a.logo {
  background-color: #800080;
  border-bottom-color: #800080;
  color: #FFFFFF;
}

.page .blocked_account_warning {
  padding: 30px;
  margin: 20px 20px;
  background-color: #FF0000;
  color: #FFFFFF;
}

.page a.unblock {
  background-color: #888888;
  float: right;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 15px;
}

.page a.remain_blocked {
  background-color: #888888;
  float: left;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 15px;
}

.page .left_text {
  background-color: #c6c7cd;
  color: #000000;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 66%;
  float: left;
  border-radius: 15px;
  position: relative;
  clear: both;
}

.page .right_text {
  background-color: #800080;
  color: #FFFFFF;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 66%;
  float: right;
  border-radius: 15px;
  position: relative;
  clear: both;
}

.hide {
  display: none;
}
